<body>
<div id="titulo"><h1>Sistema Original Segunda Linha UFFMeio</h1></div>
<p id="inscricao">Por favor, inicie sua sessão</p>
<div id="gatinho">
  <img src="https://purepng.com/public/uploads/medium/515023081909vuwgucjvi37ke4sxsgi38bohmwvueskzfkd2gegbprpz9pc9z321pllryanukxpe9uxvuxltoszhjmxhlwff3anbuu2x4dcspqa.png" alt="Italian Trulli">
</div>






<br><br><br><br><br>
<div class="Log-button">
  <%= link_to("Login", new_user_session_path) %>
  <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
</div>
</body>