<body>
<h1>Sistema Original Segunda Linha UFFMeio</h1><br>
<div id="sunset">
  <img src="https://cdn130.picsart.com/257679783014212.png?type=webp&to=min&r=1024" alt="sunset">
</div>
<div class="Subtitulo"><p>Por favor, inicie sua sessao</p></div><br>
<div id="estatua"><img src="http://wcerfgba.github.io/AESTHETIC.css/memes/roman-statue.png" alt="gif2"> </div>
<div id="gif"><img src="https://thumbs.gfycat.com/FirmGentleAfricanmolesnake-max-1mb.gif" alt="gif"></div>

<div class="Log-button">
  <%= link_to("Login", new_user_session_path) %>
</div>
<div class="Log-button">
  <%= link_to("Lista de usuarios", users_path)%></div>


</body>