/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 //@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Battambang&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  display: inline-block;
  background-color: white;
  margin-top: 10%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;

}

a{
  color: white;
  border-style: double;
  border-color: indianred;
  box-shadow: 5px 5px 8px 3px #FF000040;
  padding-right: 5px;
  padding-left: 5px;
  margin-outside: 10px;
}

body{
  background-color: navy;
  text-align: center;

}

.Log-button{
  position: relative;
  top: 90%
}



#form-mail{
  display: inline-block;
  background-color: cornflowerblue;
}

#titulo{
  font-family: cursive;
  animation-duration: 3s;
  animation-name: shake;
  animation-iteration-count: infinite;
  //&:hover{
  //
  //  transform: scale(1.5) rotate(180deg);
  //}
  transition: all 0.75s;
  text-align: center;
  background-color: white;
  margin: 0px 100px;
}



@keyframes shake {
  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-10deg) scale(1.05, 1.05);
  }
  50% {
    transform: rotate(15deg) scale(1.05, 1.05);
  }
  55% {
    transform: rotate(0deg);
  }}

#inscricao{
  display: inline-block;
  background-color: white;
  font-size: 30px;
  margin: 50px;

}
#gatinho{
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: -1;
  animation-duration: 3s;
  animation-name: walk;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#gatinho2{
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: -1;
  animation-duration: 3s;
  animation-name: walk2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#h2login{
  display: block;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
}


@keyframes walk {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes walk2 {
  0% {
    transform: rotate(0);
    left: -50%;
  }
  100% {
    transform: rotate(360deg);
    left: 100%;
  }
}