/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Battambang&display=swap');

@font-face {
  font-family: 'Cyberpunk';
  src: url('/fonts/Alien-Encounters-Regular.ttf');
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tabela{
  margin-left:25%;
}

h2{
  display: inline-block;
  background-color: white;
  margin-top: 10%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
}

h1{
  z-index: 1;
  color: #ff2975;
  font-family: Cyberpunk;
  display: inline-block;
  background-color: #ffd319;
  margin-top: 10%;
  margin-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  //animation: shake 8s infinite;

}

a{
  color: white;
  border-style: double;
  border-color: indianred;
  box-shadow: 5px 5px 8px 3px #FF000040;
  padding-right: 5px;
  padding-left: 5px;
}

body{
  height: 100vh;
  background: linear-gradient(#ff901f, #ff2975, #8c1eff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;

}

.Subtitulo{
  z-index: 1;
  padding-top: 10px;
  font-family: Cyberpunk;
  display: inline-block;
  background-color: white;
  border-radius: 7px;
  font-size: 30px;
  margin: 50px;

}

.Log-button{
  background-color: rgb(0,0,0);
  position: relative;
  display: inline-block;

}

.Links{
  padding: 10px 10px 10px 10px;
}

#estatua{
  position:absolute;
  z-index: -1;
  transform: scale(0.125,0.125);
  top:-130%;
  left:25%;
}


#gif{
  position: absolute;
  z-index: -2;
  top: 55%;
  left: 5%;
}

#form-mail{
  width: 20%;
  border-radius: 5px;
  margin: 10px auto;
  background-color: #4CAFCF;
  margin-bottom: 10px;
}
#opcoes{
  border-radius:5px;
  width: 90%;
  height: auto;
  background-color: ghostwhite;
  position: relative;
  left: 5%;
  top:10px;
}

#warning1{
  background-color: red;
}

#windows{
  z-index: -2;
  position: absolute;
  top: 34%;
  left: -8%;
  transform: scale(0.5,0.5);

}

#sunset{
  position: absolute;
  top: -29%;
  right: -13%;
  z-index: -5;
  text-align: center;
}
#warning{
  color: #2E2F30;
}



//#gatinho{
//  position: fixed;
//  top: 80px;
//  left: -100px;
//  z-index: -1;
//  animation: walk 8s infinite;
//}
//#gatinho2{
//  position: fixed;
//  top: 80px;
//  left: 10px;
//  z-index: -1;
//  animation: walk2 8s infinite;
//  animation-direction: alternate;
//}

@keyframes walk {
  0% {
    left: -50%;
  }
  70%{
    left: 50%;
  }
  80% {
    left: -90%;
  }
  100%{
    left: -90%;

  }
}

@keyframes walk2 {
  0% {
    transform: rotate(0);
    left: -50%;
  }
  100% {
    transform: rotate(360deg);
    left: 100%;
  }
}

//@keyframes shake {
//  40% {
//    transform: rotate(0deg);
//  }
//  45% {
//    transform: rotate(-10deg) scale(1.05, 1.05);
//  }
//  50% {
//    transform: rotate(15deg) scale(1.05, 1.05);
//  }
//  55% {
//    transform: rotate(0deg);
//  }}
